
server.port=8080

spring.servlet.multipart.enabled=true
spring.servlet.multipart.max-file-size=65MB
spring.servlet.multipart.max-request-size=70MB

spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.datasource.url=jdbc:mysql://localhost:3306/zzyl?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
spring.datasource.username=root
spring.datasource.password=your_mysql_password

#mybatisplus
mybatis-plus.configuration.log-impl=org.apache.ibatis.logging.stdout.StdOutImpl
mybatis-plus.mapper-locations=classpath:/mapper/*.xml
mybatis-plus.configuration.map-underscore-to-camel-case=true

aliyun.oss.endpoint=https://oss-cn-beijing.aliyuncs.com
aliyun.oss.bucketName=your-bucket
aliyun.oss.region=cn-beijing
aliyun.oss.accessKeyId=LTAI5tANMNBp6xWVUgusTZsM
aliyun.oss.accessKeySecret=SF5MFwwindabDmjUkWrDaU03Sv81gX

# apikey
spring.ai.dashscope.api-key=sk-ws-H.EDMMIME.5o0T.MEUCIQCDty3qmRSgxs4I4W75d9ZTGmgRNUgMRLIl9SxQTCpA8QIgL98SVH7atJtEqs2UYXy55EDyoL_5KZcN0Zi2MsWrj1I
spring.ai.dashscope.chat.options.model=qwen3.7-max
spring.ai.dashscope.base-url=https://llm-39fytefhtlqte6jo.cn-beijing.maas.aliyuncs.com/compatible-mode/v1
